# compiled output
/src/main/angular/dist
/src/main/angular/tmp
/src/main/angular/out-tsc
# Only exists if Bazel was run
/src/main/angular/bazel-out

# dependencies
/src/main/angular/node
/src/main/angular/node_modules

# profiling files
/src/main/angularchrome-profiler-events.json
/src/main/angularspeed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/src/main/angular/.vscode/*
!/src/main/angular/.vscode/settings.json
!/src/main/angular/.vscode/tasks.json
!/src/main/angular/.vscode/launch.json
!/src/main/angular/.vscode/extensions.json
.history/*

# misc
/src/main/angular/.sass-cache
/src/main/angular/connect.lock
/src/main/angular/coverage
/src/main/angular/libpeerconnection.log
/src/main/angular/npm-debug.log
/src/main/angular/yarn-error.log
/src/main/angular/testem.log
/src/main/angular/typings

# System Files
.DS_Store
Thumbs.db


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
